body {
  background-color: rgba( 0, 0, 0, 0.1 );
  min-width: 320px;
}

ul.nav.nav-pills {
  background-color: white;
  margin: 1.5rem 0;
}

.jumbotron {
  background-color: rgba( 236, 240, 241, 0.8 );
}