<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>MEAN :: HR Application</h1>
      </header>
      <section ng-controller="main">
        <form>
          <input type="text" ng-model="firstName" placeholder="first name" />
          <input type="text" ng-model="lastName" placeholder="last name" />
          <button ng-disabled="!(firstName.length && lastName.length)" ng-click="add()">Add</button>
        </form>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in employees">
              <td>{{p.id}}</td>
              <td>{{p.name.last}}, {{p.name.first}}</td>
              <td><button ng-click="$parent.remove( p )">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section ng-controller="logger">
        <pre ng-repeat="e in events track by $index">{{$index}} - {{e}}</pre>
      </section>
    </div>

    <script src="vendor/angular-1.2.32/angular.min.js"></script>
    <script src="vendor/angular-1.2.32/angular-resource.min.js"></script>
    <script src="vendor/angular-1.2.32/angular-route.min.js"></script>
    <script src="js/webapp.js"></script>
  </body>
</html>